@model IEnumerable<PlayFootballApp.BusinessLogic.Models.Home.PitchAvabilityViewModel>

@{
    ViewData["Title"] = "Wydarzenia";
}

<h1>Znalezione wydarzenia</h1>

@foreach (var item in Model)
{
    <table id="HoursTable" class="table table-striped table-dark mt-3 col-12">
        <thead class="col-12">
            <tr class="col-12">
                <th class="col-4" scope="col">@Html.DisplayNameFor(model => model.PitchName)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.Date)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.StartHour)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.EndHour)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.ReservedSpot)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.FreeSpot)</th>
                <th class="col-1" scope="col">@Html.DisplayNameFor(model => model.Spot)</th>
                <th class="col-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PitchName)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservedSpot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreeSpot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot)
                </td>
                <td>
                    <button id="expandButton_@item.Id" type="button" class="btn btn-danger">
                        Pokaż szczegóły <i class="fa fa-arrow-circle-down"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
}