@model IEnumerable<PlayFootballApp.BusinessLogic.Models.Home.PitchAvabilityViewModel>

@{
    ViewData["Title"] = "FindEvents";
}

<h1>FindEvents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PitchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservedSpot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeSpot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PitchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedSpot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSpot)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
